@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
html {
    --scrollbarBG: #fdfdfd;
    --thumbBG: #f1f1f1;
}


body {
    font-family: 'DM Sans', sans-serif;
    background: #fff;
    overflow: auto;
    font-size: 14px;
    overflow-x: hidden;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 400ms ease;
}
.gap-20{
    gap: 20px;
}
button{
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
img {
    max-width: 100%
}
.mobile{
    display: none;
}
input,
button {
    outline: none;
    box-shadow: none;
}
.listInline {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/*===================Dashboard-Page====================*/
.pageWrp {
    display: flex;
}
.btn{
    font-size: 14px;
    font-weight: 700;
}
.btn-success {
    color: #29C92F;
    background: rgba(2, 255, 12, 0.15);
    border: none;
}
.sticky-top {
    min-height: 100vh;
}
.sidebar {
    flex-basis: 250px;
    background: #232a4f;
    min-height: 100vh;
    border-radius: 0;
    border-right: 1px solid #D3D3D3;
}
.sidebar.shrink {
    flex-basis: 95px;
    min-width: 95px;
}
.sidebar.shrink + .rightArea {
    flex-basis: calc(100% - 95px);
    max-width: calc(100% - 95px);
}
.sidebar.shrink .sidebarList li a {
    justify-content: center;
    flex-wrap: wrap;
    display: block;
    text-align: center;
}
.sidebar.shrink .sidebarList li a span {
    display: block;
    font-size: 12px;
    text-align: center;
}
.rightArea {
    flex-basis: calc(100% - 250px);
    padding: 0;
    max-width: calc(100% - 250px);
}

.brand {
    padding: 20px 0;
    margin-bottom: 0;
    border-bottom: 1px solid #d3d3d345;
}
.brand span {
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}
.sidebar.shrink .brand {
    padding: 20px 10px;
}
.brand a {
    font-size: 20px;
    color: #fff;
}
.sidebarList li a {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    position: relative;
    color: #ffffff;
}
.sidebarList li a:before, .sidebarList li.active a:before {
    width: 5px;
    height: 100%;
    background: #fff;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    display: none;
}

.sidebarList li a:hover:before, .sidebarList li.active a:before {
    opacity: 1;
}
.sidebarList li a:hover {
    background: #5bd1c6;
    color: #fff;
}
.sidebarList li a img {
    max-height: 25px;
}
.sidebarList li .border {
    border: 1px solid #40414A !important;
    border-bottom: none !important;
}

.topHeader {
    display: flex;
    justify-content: end;
    align-items: center;
    /* border-bottom: 1px solid #D3D3D3; */
    height: 70px;
    padding: 0px 30px;
    box-shadow: 0 0 10px #00000014;
}

.topHeader .listInline {
    align-items: center;
    gap: 30px;
}

.topHeader .listInline li.dropdown > a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #252733;
    font-weight: 600;
}
.topHeader .listInline li.dropdown img, .userProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown-item {
    font-size: 14px;
}

li.dropdown em {
    display: block;
    color: #8F9498;
    font-style: normal;
    font-size: 13px;
    font-weight: 400;
}
.transparentBtn {
    background: transparent;
    border: none;
    padding: 0;
    outline: none !important;
    box-shadow: none;
}
.topHeader li sup {
    width: 16px;
    height: 16px;
    background: #c2315b;
    display: flex;
    position: absolute;
    right: -3px;
    top: -16px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
}
a.notification {
    background: #F4F5F7;
    padding: 10px;
    border-radius: 9px;
}
.topHeader li {
    position: relative;
}
.searchBx input {
    padding: 14px 20px;
    min-width: 600px;
    background: #FFFFFF;
    padding-left: 45px;
    border: 1px solid #C2C2C2;
    border-radius: 15px;
    color: #C7C7C7;
    font-weight: 400;
}
.searchBx input::placeholder{
    color: #C7C7C7;
}
.searchBx {
    position: relative;
}

.searchBtn {
    position: absolute;
    left: 15px;
    top: 11px;
    color: rgba(143, 148, 152, 1);
    opacity: 0.3;
    font-size: 20px;
}
.subHeading {
    font-size: 18px;
    font-weight: 700;
    color: #2D3748;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.dropdown-toggle.btn-light {
    font-size: 15px;
    color: #3A3A3A;
    border: solid 1px #E5E5E5;
    background: transparent;
    border-radius: 8px;
}
.customTable{
    overflow: auto;
}
.customTable tr th {
    border-bottom: solid 1px #E5E5E5;
    border-top: none;
    font-size: 17px;
    color: #3A3A3A;
    font-weight: 400;
}

.customTable tr td {
    border: none;
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 400;
}

.customTable tr td span {
    display: block;
    font-size: 14px;
    color: #8F9498;
}

.unorderList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.rowWrapper {
    display: flex;
    flex-wrap: wrap;
}

.fiveCols .column {
    flex: 0 0 calc(100%/5 - 17px);
}
.profileDetails h3 {
    color: #3A3A3A;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}

.profileDetails p {
    color: #8F9498;
    font-size: 14px;
    margin: 0;
}

.profileDetails {
    padding: 10px 0 0;
}

.profileBxImg img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.profileDetails .btn-success {
    padding: 6px 9px;
    font-size: 11px;
    border-radius: 10px;
}

.heading {
    color: #1B1F3A;
    font-size: 26px;
    font-weight: 700;
}

.dashboardContent {
    padding: 30px;
    padding-bottom: 0;
    background: #f4f5f7;
}

.lineBtn {
    border: solid 1px #C2C2C2;
    background: #fff;
    width: 45px;
    height: 45px;
    border-radius: 8px;
}

.lineBtn img {
    max-height: 17px;
}

.displayBx {
    border: 1.94294px solid #868686;
    border-radius: 30.1156px;
    overflow: hidden;
}

.displayBx .listInline.justify-content-between {
    padding: 20px 20px;
}

.displayBx h3 {
    font-size: 22px;
    color: #383838;
    margin: 0;
}

.displayBxImg img {
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.paymentTable h3 {
    color: #565656;
    font-size: 24px;
    margin: 0;
}

.paymentTable .listInline.justify-content-between {
    border-bottom: 1px solid #848484;
    padding: 15px 0;
}

.paymentTable .listInline.justify-content-between p {
    color: #989898;
    font-size: 15px;
}

.paymentTable .listInline.justify-content-between h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.sidebarUserDetails {
    text-align: center;
}

.sidebarUserDetails h3 {
    color: #130F26;
    font-size: 20px;
    margin: 10px 0;
}

.sidebarUserDetails .userImg {
    margin: 0 auto;
}

.sidebarUserDetails .listInline {
    justify-content: center;
}

.sidebarUserDetails .listInline img {
    height: 40px;
}

.sidebarUserDetails a {
    color: #989898;
    display: flex;
    gap: 10px;
    color: #fff;
}

.sidebarUserDetails {position: absolute;left: 20px;bottom: 30px;}

.chartBx {
    padding: 20px;
    background: #FFF1D8;
    border-radius: 31px;
}

.colorBtn {
    display: inline-block;
    padding: 10px 20px;
    background: #4FD1C5;
    border-radius: 10px;
    color: #2E3458;
    border: none;
}
.heading .colorBtn {
    font-size: 16px;
    font-weight: 600;
}

.subHeading .colorBtn {
    font-size: 12px;
    font-weight: 700;
}
.heading .colorBtn {
    font-size: 16px;
    font-weight: 600;
}

.subHeading .colorBtn {
    font-size: 12px;
    font-weight: 700;
}

.customtable {
    padding: 25px;
    background: #fff;
    border-radius: 10px;
}

.customtable table {width: 100%;}

.customtable .subHeading {
    margin-bottom: 20px;
}

.customtable table th {
    background: #DBDCDE;
    text-align: center;
}

.customtable table th, .customtable table td {
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.customtable table th:first-child {
    border-radius: 5px 0 0 5px;
}

.customtable table th:last-child {
    border-radius: 0 5px 5px 0;
}

.select2 {
    padding: 5px;
    border: solid 1px #ed3a3a;
    background: #fcebea;
    border-radius: 10px;
    outline: none;
    color: #F43C3C;
    box-shadow: none;
}

.customContent h4 {
    color: #2D3748;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.customContent .d-flex .d-flex {
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    min-width: 40px;
}

.customContent h5 {
    font-size: 13px;
    font-weight: 400;
    color: #2D3748;
    margin: 5px 0 0;
}
.calendar_header {
    display: flex;
    justify-content: space-between;
}

.calendar_header h2 {
    width: auto;
    float: none;
    padding: 0;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

.calendar_header .d-flex {
    min-width: 30px;
    justify-content: space-between;
    padding-right: 0;
}

.calendar_header button {
    color: #2E3458;
    width: auto;
    float: none;
    outline: none;
}

.calendar_weekdays {
    background: #fff;
}

.calendar_weekdays div {
    color: #000 !important;
    padding-top: 0;
}

div#calendar_first {
    padding: 25px;
    background: #fff;
    border-radius: 10px;
}
.calendar_content div.blank {
    display: none;
}
.calendar_content {
    display: flex;
    flex-wrap: wrap;
}